# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Local Database
*.sqlite
*.sqlite3
*.db

# Google Cloud
service_account*.json
client_secrets*.json

# Logs
*.log

# OS related
.DS_Store
Thumbs.db

# Exported user data
wordkeeper_data_*.json
procedure.txt